*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  flex-direction: column;
  color: whitesmoke;

  background-color: #535c91;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}

.navbar {
  width: 100%;
  position: fixed;
  height: 4rem;
  background-color: #1b1a55;
  top: 0;
}

nav.navbar {
  display: flex;
  flex: 1;
  padding: 2px;
  margin-inline: auto;
  justify-content: center;
  font-size: 20px;
}
nav.navbar :hover {
}
.navbar ul {
  gap: 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.navbar li a {
  text-decoration: none;
  color: white;
}
.navbar li {
  list-style-type: none;
}

.navbar li a:hover {
  color: #535c91;
  transition: all 0.2s ease-in;
}
.utama a {
  text-decoration: none;
  color: white;
}

.utama a:hover {
  color: #1b1a55;
  transition: all 0.3s ease-in-out;
}

article.utama {
  background-color: #535c91;
}

footer {
  width: 100%;
  padding: 10px;
  font-size: medium;
  background-color: #1b1a55;
  text-align: center;
  font-weight: bold;
  position: absolute;
}

.content p {
  text-align: justify;
}

.utama {
  border: 1px solid #1b1a55;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
}
aside {
  width: 30%;
}
.tentang {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.tentang img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

figcaption {
  font-size: 18px;
}
